@{
    ViewData["Title"] = "Championship";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Football League System</title>

</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center">Football League System</h1>
        <div class="d-flex justify-content-center mt-5">
            <a href="/addTeams.html" class="btn btn-primary btn-lg me-3">Add Teams</a>
            <a href="/team-list.html" class="btn btn-secondary btn-lg">View Teams</a>
        </div>
    </div>
</body>
</html>




